.login-contatiner {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  
}

.login-from-side {
  margin: 5% 15%;
}

.login-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 51px;
  display: flex;
  justify-content: center;
  color: #000000;
}

.login-sub-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  color: #8692a6;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5% 0%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.login-from-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #696f79;
}

.login-from-input {
  width: 426px;
  height: 60px;
  border: 1px solid #8692a6;
  border-radius: 6px;
}

.login-form-submit {
  width: 426px;
  height: 60px;
  background: #1565d8;
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.register {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #696f79;
  margin-top: 25px;
  text-align: center;
}

.login-logo-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 40px;
}

.bottom-logo {
  display: flex;
  flex-direction: row;
  gap: 5px !important;
}
