.slider {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: scroll;
  overflow: hidden;
  /* width: 95vw; */
  background: #ffffff;
  scroll-snap-type: x mandatory;
  scroll-padding: 24px;
}
